services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=blyur_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7.2-alpine

  web:
      build: 
        context: ./services/backend
      command: python manage.py runserver 0.0.0.0:8000
      volumes:
        - ./services/backend:/app
      ports:
        - "8000:8000"
      env_file:
        - ./services/backend/.env
      depends_on:
        db:
          condition: service_healthy
        redis:
          condition: service_started

  worker:
    build:
      context: ./services/backend
    command: celery -A core worker -l info
    volumes:
      - ./services/backend:/app
    env_file:
      - ./services/backend/.env
    depends_on:
      - db
      - redis

volumes:
  postgres_data: