{% extends 'base.html' %}

{% block content %}
<div class="flex items-center justify-center min-h-[50vh]">
    <div class="w-full max-w-md bg-white p-8 rounded-2xl shadow-xl border border-gray-100 text-center">
        <i class="fa-solid fa-envelope-open-text text-4xl text-green-500 mb-4"></i>
        <h2 class="text-2xl font-serif font-bold text-gray-900 mb-4">Проверьте почту</h2>
        <p class="text-gray-600 mb-6">
            Мы отправили инструкцию по восстановлению пароля на указанный вами Email. Пожалуйста, проверьте папку "Входящие" (и "Спам").
        </p>
        <a href="{% url 'login' %}" class="text-rosegold font-bold hover:underline">Вернуться на вход</a>
    </div>
</div>
{% endblock %}